.willow-card-grid {
    display: block;
    margin-bottom: $space-xxl;

    @media (min-width: 768px) {
        display: flex;
    }

    &__item {
        margin-right: 0;
    
        @media (min-width: 768px) {
            margin-right: $space;
        }
    }
}

.willow-card {
    max-width: none;
}